<launch>
    <node pkg="using_markers" type="navi3" name="navi3" output="screen"/> 
    <node pkg="using_markers" type="robotpose" name="robotpose" output="screen"/>
    <node pkg="using_markers" type="dest" name="dest" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find using_markers)/rviz/groupA.rviz" />
</launch>
